awscli==1.8.12
beautifulsoup4==4.4.1
botocore==1.2.10
bottle==0.12.8
colorama==0.3.3
decorator==4.0.4
docutils==0.12
html5lib==0.9999999
jmespath==0.9.0
jsm==0.18
matplotlib==1.4.3
mysql-connector-python==2.0.4
networkx==1.10
nose==1.3.7
numpy==1.9.3
pandas==0.17.0
Pillow==3.0.0
pyasn1==0.1.9
PyMySQL==0.6.7
pyparsing==2.0.3
python-dateutil==2.4.2
pytz==2015.6
requests==2.8.0
rsa==3.2
scikit-image==0.11.3
scikit-learn==0.16.1
scipy==0.16.0
six==1.9.0
